<div class="container-fluid">
  <div class="col-sm-8">
    <a href="/"><h1>RedditClone</h1></a>
    <h2>The front thread on the internet</h2>
    <ul class="list-unstyled">
      {{#each posts}}
        <li class="list-group-item">
          <div class="lead"><a href="/posts/{{this._id}}" class="lead">{{this.title}}</a></div>

          <a href="{{this.url}}" target="_blank">{{this.url}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>