.footer-scripts {
	margin-left: 2rem;
}

.navbar-btn {
	color: white !important;
}

/*ASK MITCHELL*/
.home-icon {
	/*background: dodgerblue !important;*/
	.grayscale { filter: grayscale(100%); }
}

.container {
	margin: auto;

}

.lead {
	font-size: 36px;
}

.post-summary {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}

span {
	width: 100%;
}

.btn-default {
	margin-top: 10px;
	margin-bottom: 10px;
}

.signup-btn {
	background-color: aquamarine;
}


.signup-form {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-right {
	margin-top: 1em;
}

.nav-links {
	align-items: baseline;
}

.page-title {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 48px;
	margin-bottom: -.5em;
}

.page-subtitle {
	font-family: "Helvetica Neue";
	font-size: 24px;
	padding-bottom: 2rem;
}